{% extends 'base_user.html' %}

{% block title %}Панель администратора{% endblock %}
{% block panel %}Панель администратора{% endblock %}
{% block main %}Добро пожаловать, {{ user['db_name'] }}!{% endblock %}
{% block menu %}
<li><details>
  <summary>Инвентарь</summary>
  <p><a href="{{ url_for('inventory_all', user_login=user['db_login']) }}">Весь</a></p>
  <p><a href="{{ url_for('inventory_free', user_login=user['db_login']) }}">Доступный</a></p>
  <p><a href="{{ url_for('inventory_usefull', user_login=user['db_login']) }}">Используемый</a></p>
  <p><a href="{{ url_for('inventory_broken', user_login=user['db_login']) }}">Сломаный</a></p>
</details></li>
<li><a href="{{ url_for('show_users', user_login=user['db_login']) }}">Пользователи</a></li>
<li><a href="{{ url_for('bought_plan') }}">План закупок</a></li>
<li><a href="{{ url_for('reports') }}">Отчёты</a></li>
{% endblock %}