<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Навигационная панель -->
    <header>
        <div class="logo">{% block panel %}{% endblock %}</div>
        <nav>
            <a href="{{ url_for('index') }}">Выйти</a>
        </nav>
    </header>

    <!-- Панель администратора -->
    <section class="dashboard">
        <aside>
            <h2>Меню</h2>
            <ul>
                {% block menu %}{% endblock %}
            </ul>
        </aside>

        <main>
            {% block main %}{% endblock %}
        </main>
    </section>

    {% block buttons %}{% endblock %}

</body>
</html>