<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление спортивным инвентарем</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Навигационная панель -->
    <header>
        <div class="logo">Школьный Инвентарь</div>
    </header>

    <!-- Контент -->
    <section class="main">

        <h1>Добро пожаловать в систему управления спортивным инвентарем</h1>

        <p>Вход:</p>
        <form method="POST">
        Логин <input type="text" name="login">
        Пароль <input type="text" name="password">
        <button type="submit">Войти</button>
        </form>
        <p>{{ error }}</p>

        <p>Регистрация</p>
        <a href="{{ url_for('register', user_type='admin') }}">для админа</a>
        <br>
        <a href="{{ url_for('register', user_type='just_user') }}">для пользователя</a>

    </section>

</body>
</html>