{% extends 'base_user.html' %}

{% block title %}Инвентарь{% endblock %}
{% block panel %}Инвентарь{% endblock %}

{% block main %}
    {% for name in inventory.keys() %}
        <details>
            <summary>{{ name }} ({{ inventory[name]['count'] }} шт.)</summary>
            <br>
            <p>Доступный ({{ inventory[name]['free']['count'] }} шт.):</p>
            {% for thing in inventory[name]['free']['things'] %}
                <p>ID - {{ thing['db_id'] }}</p>
            {% endfor %}
            {{ null_free }}
            <br>
            <p>Используемый ({{ inventory[name]['usefull']['count'] }} шт.):</p>
            {% for thing in inventory[name]['usefull']['things'] %}
                <p>ID - {{ thing['thing']['db_id'] }}, использует - {{ thing['user_name'] }}</p>
            {% endfor %}
            {{ null_usefull }}
            <br>
            <p>Сломанный ({{ inventory[name]['broken']['count'] }} шт.):</p>
            {% for thing in inventory[name]['broken']['things'] %}
                <p>ID - {{ thing['db_id'] }}, проблема - {{ thing['db_problem_description'] }}</p>
            {% endfor %}
            {{ null_broken }}
            <br>
        </details>
    {% endfor %}
    {{ null_all }}
{% endblock %}

{% block menu %}
<li><a href="{{ url_for('admin', user_login=user['db_login']) }}">Главная</a></li>
<li><details>
  <summary>Инвентарь</summary>
  <p><a href="{{ url_for('inventory_free', user_login=user['db_login']) }}">Доступный</a></p>
  <p><a href="{{ url_for('inventory_usefull', user_login=user['db_login']) }}">Используемый</a></p>
  <p><a href="{{ url_for('inventory_broken', user_login=user['db_login']) }}">Сломаный</a></p>
</details></li>
<li><a href="{{ url_for('show_users', user_login=user['db_login']) }}">Пользователи</a></li>
<li><a href="{{ url_for('bought_plan') }}">План закупок</a></li>
<li><a href="{{ url_for('reports') }}">Отчёты</a></li>
{% endblock %}

{% block buttons %}
<li><a href="{{ url_for('add_inventory', user_login=user['db_login']) }}">Добавить инвентарь</a></li>
<li><a href="{{ url_for('delete_inventory', user_login=user['db_login']) }}">Удалить инвентарь</a></li>
{% endblock %}