{% extends 'base_user.html' %}

{% block title %}Доступный инвентарь{% endblock %}
{% block panel %}Доступный инвентарь{% endblock %}

{% block main %}
    {% for name in inv_free.keys() %}
        <details>
            <summary>{{ name }} ({{ inv_free[name]['count'] }} шт.)</summary>
            {% for thing in inv_free[name]['things'] %}
                <p>ID - {{ thing['db_id'] }}</p>
            {% endfor %}
        </details>
    {% endfor %}
    <p>{{ null_free }}</p>
{% endblock %}

{% block menu %}
<li><a href="{{ url_for('admin', user_login=user['db_login']) }}">Главная</a></li>
<li><details>
  <summary>Инвентарь</summary>
  <p><a href="{{ url_for('inventory_all', user_login=user['db_login']) }}">Весь</a></p>
  <p><a href="{{ url_for('inventory_usefull', user_login=user['db_login']) }}">Используемый</a></p>
  <p><a href="{{ url_for('inventory_broken', user_login=user['db_login']) }}">Сломаный</a></p>
</details></li>
<li><a href="{{ url_for('show_users', user_login=user['db_login']) }}">Пользователи</a></li>
<li><a href="{{ url_for('bought_plan') }}">План закупок</a></li>
<li><a href="{{ url_for('reports') }}">Отчёты</a></li>
{% endblock %}