{% extends 'base_user.html' %}

{% block title %}Сломанный инвентарь{% endblock %}
{% block panel %}Сломанный инвентарь{% endblock %}
{% block main %}
    {% for name in inv_broken.keys() %}
        <details>
            <summary>{{ name }} ({{ inv_broken[name]['count'] }} шт.)</summary>
            {% for thing in inv_broken[name]['things'] %}
                <p>ID - {{ thing['db_id'] }}, описание поломки - {{ thing['db_problem_description'] }}</p>
            {% endfor %}
        </details>
    {% endfor %}
    {{ null_broken }}
{% endblock %}
{% block menu %}
<li><a href="{{ url_for('admin', user_login=user['db_login']) }}">Главная</a></li>
<li><details>
  <summary>Инвентарь</summary>
  <p><a href="{{ url_for('inventory_all', user_login=user['db_login']) }}">Весь</a></p>
  <p><a href="{{ url_for('inventory_free', user_login=user['db_login']) }}">Доступный</a></p>
  <p><a href="{{ url_for('inventory_usefull', user_login=user['db_login']) }}">Используемый</a></p>
</details></li>
<li><a href="{{ url_for('show_users', user_login=user['db_login']) }}">Пользователи</a></li>
<li><a href="{{ url_for('bought_plan') }}">План закупок</a></li>
<li><a href="{{ url_for('reports') }}">Отчёты</a></li>
{% endblock %}