{% extends 'base_user.html' %}

{% block title %}Пользователи{% endblock %}
{% block panel %}Пользователи{% endblock %}

{% block main %}
  <p>Я - {{ user['db_name'] }} - {{ user['db_work'] }}</p>
  <details>
    <summary>Администраторы:</summary>
    {% for admin in admins %}
      <p>{{ admin['db_name'] }} - {{ admin['db_work'] }}</p>
    {% endfor %}
  </details>

  <details>
    <summary>Пользователи:</summary>
    {% for just_user in just_users %}
      <p>{{ just_user['db_name'] }} - {{ just_user['db_work'] }}</p>
    {% endfor %}
  </details>
{% endblock %}

{% block menu %}
<li><a href="{{ url_for('admin', user_login=user['db_login']) }}">Главная</a></li>
<li><details>
  <summary>Инвентарь</summary>
    <p><a href="{{ url_for('inventory_all', user_login=user['db_login']) }}">Весь</a></p>
    <p><a href="{{ url_for('inventory_free', user_login=user['db_login']) }}">Доступный</a></p>
    <p><a href="{{ url_for('inventory_usefull', user_login=user['db_login']) }}">Используемый</a></p>
    <p><a href="{{ url_for('inventory_broken', user_login=user['db_login']) }}">Сломаный</a></p>
</details></li>
<li><a href="{{ url_for('bought_plan') }}">План закупок</a></li>
<li><a href="{{ url_for('reports') }}">Отчёты</a></li>
{% endblock %}